<h1>Babies Born</h1>

<section fxLayout="column" fxLayoutGap="12px">

  <mat-card *ngFor="let baby of babies | async">
    <mat-card-title>{{ baby.name }}</mat-card-title>
    <mat-card-actions>
      <a mat-button color="primary" [routerLink]="[baby.key, 'care']">Take care</a>
      <a mat-button color="accent" [routerLink]="[baby.key, 'control']">Control!!!</a>
    </mat-card-actions>
  </mat-card>

  <button mat-raised-button color="accent" (click)="giveBirth()">Give Birth!</button>

</section>
